#{extends 'homeMain.html' /}
#{set title:'Teacher Assistant' /}

	<div class="container-fluid">
	<div class="page-header ">
		<h1>Welcome to Teacher Assistant</h1>
	    <h5>(The one stop application to automate all teacher related clerical task)</h5>
	 </div>
		<div class="row-fluid">
			<div class=" hero-unit">
			<p class="">Teacher Assistant is designed to make a Teachers life easy. The idea behind 
			Teacher Assistant is to automate most of the clerical task in a teachers work routine, so that he/she
			can spend more collective time to the most important part of work i.e. teaching.</p>
			<p> Currently Teacher Assistant provides the following three functionalities.
			</p>
			<p>i) Time Table	Generation </p>
			<p>ii) Report Card	Management </p>
			<p>iii) Student Profile	Management </p>
	
			</div>
		</div>
	</div>